{"filter":false,"title":"requirements.txt","tooltip":"/requirements.txt","undoManager":{"mark":0,"position":0,"stack":[[{"start":{"row":11,"column":0},"end":{"row":11,"column":17},"action":"remove","lines":["pygobject==3.26.1"],"id":2},{"start":{"row":10,"column":15},"end":{"row":11,"column":0},"action":"remove","lines":["",""]}]]},"ace":{"folds":[],"scrolltop":0,"scrollleft":0,"selection":{"start":{"row":10,"column":15},"end":{"row":10,"column":15},"isBackwards":false},"options":{"guessTabSize":true,"useWrapMode":false,"wrapToView":true},"firstLineState":0},"timestamp":1576012714986,"hash":"8a76e58e0465a3ff2e476092944a68eb2cfed530"}