{"filter":false,"title":"requirements.txt","tooltip":"/requirements.txt","undoManager":{"mark":-1,"position":-1,"stack":[]},"ace":{"folds":[],"scrolltop":360,"scrollleft":0,"selection":{"start":{"row":57,"column":0},"end":{"row":57,"column":21},"isBackwards":false},"options":{"guessTabSize":true,"useWrapMode":false,"wrapToView":true},"firstLineState":{"row":24,"state":"start","mode":"ace/mode/text"}},"timestamp":1572909589029,"hash":"94ab7a20714692a43ae52bfbf14bc868e6c53558"}