botocore==1.12.237
dnspython==1.16.0
docutils==0.15.2
Flask==1.1.1
Flask-PyMongo==2.3.0
Jinja2==2.10.3
jmespath==0.9.4
jsonpatch==1.16
pylint==1.8.1
pylint-flask==0.5
pymongo==3.10.0
python-dotenv==0.10.3

