.background_image {
    height: 100vh;
    background: url("../images/worldcupback.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    align-items: center;
    position: relative;
    justify-content: center;
}

.select-wrapper {
    background-color: white;
}


.select-wrapper+label {
    position: absolute;
    top: -40px;
    font-size: 20px;
    color: yellow;
}

.input-info {
    background-color: white;
}

.header-text {
    color: white;
}

.collapsible-body {
    background-color: white;
}
