{% extends 'base.html' %} {% block content %}
<h3 class="header-text">Add Players</h3>
<div class="row">
    <form action="{{ url_for('add_player') }}" method="POST" class="col s12">
        <div class="row">
            <div class="input-field input-info col s6">
                <input id="player_name" name="player_name" type="text" class="validate">
                <label for="player_name">Player Name</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field input-info col s6">
                <input id="country" name="country" type="text" class="validate">
                <label for="country">Country</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field input-info col s6">
                <input id="club_team" name="club_team" type="text" class="validate">
                <label for="club_team">Club Team</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field input-info col s6">
                <select id="position" name="position">
                    <option value="" disabled selected>Position</option>
                    <option>Loosehead Prop</option>
                    <option>Hooker</option>
                    <option>Tighthead Prop</option>
                    <option>Flanker</option>
                    <option>Second Row</option>
                    <option>Number 8</option>
                    <option>Scrum Half</option>
                    <option>Fly Half</option>
                    <option>Inside Centre</option>
                    <option>Outside Centre</option>
                    <option>Left Wing</option>
                    <option>Right Wing</option>
                    <option>Fullback</option>
                    </select>
                <label for="position"></label>
            </div>
        </div>
        <div class="row">
            <div class="input-field input-info col s6">
                <input id="height" name="height" type="text" class="validate">
                <label for="height">Height</label>
            </div>
        </div>
        <div class="row">
            <button class="btn waves-effect waves-light" type="submit" name="action">Add Player
                <i class="material-icons right">add_circle</i>
             </button>
        </div>
    </form>
</div>

{% endblock %}
