{% extends 'base.html' %} {% block content %}
<h3 class="header-text">Edit Team</h3>
<div class="row">
    <form action="{{ url_for('update_team', team_id=team._id) }}" method="POST" class="col s12">
        <div class="row">
            <div class="input-field input-info col s6">
                <input id="team_name" name="team_name" type="text" class="validate" value="{{team.team_name}}">
                <label for="team_name">Team Name</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s4">
                <select id="loose_head_prop" name="loose_head_prop">
                    <option value="{{team.loose_head_prop}}">{{team.loose_head_prop}}</option>
                    {% for plyr in first_players_collection %}
                <option value="{{plyr.player_name}}">{{plyr.player_name}}</option>
                {% endfor %}
                </select>
                <label for="loose_head_prop">1</label>
            </div>
            <div class="input-field col s4">
                <select id="hooker" name="hooker">
                    <option value="{{team.hooker}}">{{team.hooker}}</option>
                    {% for plyr in second_players_collection %}
                    <option value="{{plyr.player_name}}">{{plyr.player_name}}</option>
                    {% endfor %}
                    </select>
                <label for="hooker">2</label>
            </div>
            <div class="input-field col s4">
                <select id="tight_head_prop" name="tight_head_prop">
                <option value="{{team.tight_head_prop}}">{{team.tight_head_prop}}</option>
                    </select>
                <label for="tight_head_prop">3</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s3">
                <select id="blind_side_flanker" name="blind_side_flanker">
                <option value="{{team.blind_side_flanker}}">{{team.blind_side_flanker}}</option>
                    </select>
                <label for="blind_side_flanker">6</label>
            </div>
            <div class="input-field col s3">
                <select id="second_row" name="second_row">
                <option value="{{team.second_row}}">{{team.second_row}}</option>
                    </select>
                <label for="second_row">4</label>
            </div>
            <div class="input-field col s3">
                <select id="second_row_2" name="second_row_2">
                <option value="{{team.second_row_2}}">{{team.second_row_2}}</option>
                    </select>
                <label for="second_row_2">5</label>
            </div>
            <div class="input-field col s3">
                <select id="open_side_flanker" name="open_side_flanker">
                <option value="{{team.open_side_flanker}}">{{team.open_side_flanker}}</option>
                    </select>
                <label for="open_side_flanker">7</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s3">
                <select id="number_eight" name="number_eight">
                <option value="{{team.number_eight}}">{{team.number_eight}}</option>
                    </select>
                <label for="number_eight">8</label>
            </div>
        </div>
        <div clas="row">
            <div class="input-field col s3">
                <select id="scrum_half" name="scrum_half">
                <option value="{{team.scrum_half}}">{{team.scrum_half}}</option>
                    </select>
                <label for="scrum_half">9</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s3">
                <select id="fly_half" name="fly_half">
                    <option value="" disabled selected>Fly Half</option>
                <option value="{{team.fly_half}}">{{team.fly_half}}</option>
                    </select>
                <label for="fly_half">10</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s3">
                <select id="inside_centre" name="inside_centre">
                <option value="{{team.inside_centre}}">{{team.inside_centre}}</option>
                    </select>
                <label for="inside_centre">12</label>
            </div>
            <div class="input-field col s3">
                <select id="outside_centre" name="outside_centre">
                <option value="{{team.outside_centre}}">{{team.outside_centre}}</option>
                    </select>
                <label for="outside_centre">13</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s3">
                <select id="left_wing" name="left_wing">
                <option value="{{team.left_wing}}">{{team.right_wing}}</option>
                    </select>
                <label for="left_wing">11</label>
            </div>
            <div class="input-field col s3">
                <select id="full_back" name="full_back">
                <option value="{{team.full_back}}">{{team.full_back}}</option>
                    </select>
                <label for="full_back">15</label>
            </div>
            <div class="input-field col s3">
                <select id="right_wing" name="right_wing">
                <option value="{{team.right_wing}}">{{team.right_wing}}</option>
                    </select>
                <label for="right_wing">14</label>
            </div>
        </div>
        <div class="row">
            <div class="col s3">
                <button class="btn waves-effect waves-light" type="submit" name="action">Edit Team
                <i class="material-icons right">add_circle</i>
             </button>
            </div>
        </div>
    </form>
</div>



{% endblock %}
