{% extends 'base.html' %} {% block content %}
<div class="row">
    <h3 class="header-text center-align">Created Teams</h3>
    <ul class="collapsible" data-collapsible="accordion">
        {% for team in team %}
        <li>
            <div class="collapsible-header">
                <div class=" task_header col s9">
                    <strong class="team-name">{{team.team_name}}</strong>
                </div>
                <div class="col s8 col m4 col l3">
                    <a href="{{url_for('delete_team', team_id=team._id)}}" class="waves-effect waves-light btn btn_small">Del</a>
                    <a href="{{url_for('edit_team', team_id=team._id)}}" class="waves-effect waves-light btn btn_small blue">Edit</a>
                    <i class="material-icons">expand_more</i>
                </div>
            </div>
            <div class="collapsible-body">
                <ul>
                    <div class="row">
                        <div class="col s2 offset-s1">
                            <li><strong>1. {{team.loose_head_prop}}</strong></li>
                        </div>
                        <div class="col s2">
                            <li><strong>2. {{team.hooker}}</strong></li>
                        </div>
                        <div class="col s2">
                            <li><strong>3. {{team.tight_head_prop}}</strong></li>
                        </div>
                    </div>
                    <div class="row center-align">
                        <div class="col s2">
                            <li><strong>6. {{team.blind_side_flanker}}</strong></li>
                        </div>
                        <div class="col s2">
                            <li><strong>4. {{team.second_row}}</strong></li>
                        </div>
                        <div class="col s2">
                            <li><strong>5. {{team.second_row_2}}</strong></li>
                        </div>
                        <div class="col s2">
                            <li><strong>7. {{team.open_side_flanker}}</strong></li>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col s2 offset-s3">
                            <li><strong>8. {{team.number_eight}}</strong></li>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col s2 offset-s4">
                            <li><strong>9. {{team.scrum_half}}</strong></li>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col s2 offset-s5">
                            <li><strong>10. {{team.fly_half}}</strong></li>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col s2 offset-s6">
                            <li><strong>12. {{team.inside_centre}}</strong></li>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col s2 offset-s7">
                            <li><strong>13. {{team.outside_centre}}</strong></li>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col s2">
                            <li><strong>11. {{team.left_wing}}</strong></li>
                        </div>
                        <div class="col s2 offset-s6">
                            <li><strong>14. {{team.right_wing}}</strong></li>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col s2 offset-s5">
                            <li><strong>15. {{team.full_back}}</strong></li>
                        </div>
                    </div>
                </ul>
            </div>
        </li>
        {% endfor %}
    </ul>
</div>

{% endblock %}
