{% extends 'base.html' %} {% block content %}
<h3>Add Players</h3>
<div class="row">
    <form action="{{ url_for('add_player') }}" method="POST" class="col s12">
        <div class="row">
            <div class="input-field col s6">
                <input placeholder="Placeholder" id="player_name" type="text" class="validate">
                <label for="player_name">Player Name</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s6">
                <input id="country" type="text" class="validate">
                <label for="country">Country</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s6">
                <input id="club_team" type="text" class="validate">
                <label for="club_team">Club Team</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s6">
                <input id="position" type="text" class="validate">
                <label for="position">Position</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s6">
                <input id="height" type="text" class="validate">
                <label for="height">Height</label>
            </div>
        </div>
    </form>
</div>

{% endblock %}
